{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            Inovacion Educativa
        </a>
        
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Crea una cuenta
                </h1>
                <form method="post" class="space-y-4 md:space-y-6">
                    {% csrf_token %}
                    <div>
                        <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de usuario</label>
                        {{ form.username }}
                    </div>
                    <div>
                        <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
                        {{ form.email }}
                    </div>
                    <div>
                        <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                        {{ form.password1 }}
                    </div>
                    <div>
                        <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar contraseña</label>
                        {{ form.password2 }}
                    </div>
                    <div>
                        <label for="id_tipo_usuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de usuario</label>
                        {{ form.tipo_usuario }}
                    </div>
                    <button type="submit" class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">Crear cuenta</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        ¿Ya tienes una cuenta? <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Entrar</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}