{% extends "users/directivo/dashboard_directivo.html" %}

{% block directivo_content %}

<div class="bg-white p-6 sm:p-8 rounded-2xl shadow-lg">
    <!-- Encabezado -->
    <div class="mb-6 border-b pb-4">
        <h2 class="text-2xl font-bold text-gray-900">Mi Perfil</h2>
        <p class="mt-1 text-sm text-gray-600">Información personal.</p>
    </div>

    <!-- Información de usuario -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
        <div class="bg-gray-50 p-4 rounded-lg">
            <h3 class="text-lg font-semibold text-gray-900">Información Personal</h3>
            <ul class="mt-2 space-y-1">
                <li class="flex justify-start">
                    <span class="text-sm text-gray-600">Nombre: </span>
                    <span class="text-sm font-medium text-gray-900">{{ user.get_full_name }}</span>
                </li>
                <li class="flex justify-start">
                    <span class="text-sm text-gray-600">Email:</span>
                    <span class="text-sm font-medium text-gray-900">{{ user.email }}</span>
                </li>
            </ul>
        </div>

        <!-- Avatar o imagen de perfil -->
        <div class="flex flex-col items-center">
            <img src="/static/images/avatar.jpg" alt="Avatar" class="w-24 h-24 rounded-full mb-3 shadow-md">
            <h3 class="text-lg font-semibold text-gray-900">{{ user.get_full_name }}</h3>
            <p class="text-sm text-gray-600">Directivo</p>
        </div>
    </div>


    <!-- Acciones -->
    <div class="flex space-x-4">
        <a href="#" class="px-4 py-2 bg-purple-600 text-white rounded-md shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            Editar Perfil
        </a>
        <a href="#" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Ver Información
        </a>
    </div>
</div>


{% endblock directivo_content %}